// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.pos_fixed {
  width:50%;
  display:inline-block;
}
p{
  text-align:center
}

#boton-submit{
  background-color:rgb(89,97,85);
  width:100px;
  border:none;
  height:45px;}
#boton-submit:hover{
  background-color:rgb(58,64,56);
}
.col-centered{
  float : none;
  margin: 0 auto;
}
